#layouts {
    display: flex;
    align-items: center;
}

.exams-container {
    margin: auto;
    max-width: 750px;
    min-width: 750px;

}
.webview .exams-container {
    align-self: flex-start;
    margin: 0 auto;
    min-width: initial;
    max-width: initial;
    width: 100%;
}
.exams-list-container {
    flex-wrap: wrap;
}
.webview .exams-list-container {
    height: 112px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 !important;
    flex-wrap: nowrap;

}
.exam {
    flex: 0 0 50%;
}
.webview .exam-wrapper {
    margin-bottom: 0 !important;
}
.exam-container {
    border-radius: 15px;
    background-color: black;
    padding: 12px;
    border: 5px solid #505050;
}
.exam-container.active{
    border: 5px solid #24a039;
}

.webview .exam-subject {
    font-size: 0.625em;
}
.exam-subject {
    font-size: 0.75em;
    text-transform: uppercase;
}
.exam-variant {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}