body {
    color: #fff;
}

.overlay-image-clouds {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
}
.overlay-cloud {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
}
.overlay-ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.background-filler {
    background-image: url('https://res.cloudinary.com/mateassets/image/upload/v1536688777/tiles/1.jpg');
    width: 500%;
    height: 500%;
    left: -166%;
    top: -166%;
    position: absolute;
}
