body {
    background: #5fc4f0;
    color: #fff;
}

.overlay-image-clouds {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
}
.overlay-cloud {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
}
.overlay-ground {
    position: fixed;
    bottom: -80px;
    left: 0;
    width: 100%;
}


.modal-content {
    background-color: #292929;
}

.modal-header {
    border-bottom: 1px solid black;

}

.modal-title {
    font-size: 1rem;
}

.modal-footer {
    border-top: 1px solid #3a3a3a;
}

.modal-body {
    background-color: #1d1d1d;
}

.question-image {
    max-width: 120px;
}

.alert-container {
    position: absolute;
    width: 100%;
    z-index: 999;
}

/*
    bootstrap overwrite
*/
.btn-primary {
    color: #fff;
    background-color: #0E7920;
    border-color: #089143;
    border-radius: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0F8622;
    border-color: #08C158;
}

.users-container {
    max-width: 450px;
    margin: auto;
}

.game-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem 0;
    width: 100%;
    margin-bottom: 0;
}

.home-background {
    max-width: 1280px;
    background-image: url('https://res.cloudinary.com/mateassets/image/upload/v1534883304/game/home_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.base-container {
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #BDBDBD;
    margin-bottom: 15px;
    position: initial;
}

.base-container label {
    font-size: 14px;
    font-weight: normal;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.base-container p {
    padding-left: 15px;
    color: rgb(255, 194, 0);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.base-container h3 {
    width: 100%;
    display: block;
    background: rgb(63, 63, 63);
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    font-size: 14px;
}

.background-filler {
    background-image: url('https://res.cloudinary.com/mateassets/image/upload/v1536688777/tiles/1.jpg');
    width: 500%;
    height: 500%;
    left: -166%;
    top: -166%;
    position: absolute;
}

.base-container .text-container {
    padding: 3px;
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 30px;
    height: 27px;
    margin-left: 11px;
    margin-top: -3px;
}

.base-container input[type="text"] {
    padding: 15px;
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
}

.base-container textarea {
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/*
    Info container css
*/

.info-container {
    right: 0;
    font-weight: bold;
    color: rgb(253, 255, 163);
    text-shadow: 1px 1px 3px #2A2A2A;
    width: 350px;
    padding: 15px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*

    Control menu css

*/

.control-menu {
    width: 350px;
}

.control-menu-select {
    padding: 3px;
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.control-menu-row {
    margin-top: 15px;
}

.edit-menu {
    right: 0;
}

.tile-menu {
    bottom: 0;
    height: 174px;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.image-preview {
    width: 86px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.thumb-container {
    float: left;
    cursor: pointer;
    padding: 2px;
    position: relative;
}

.thumb-label {
    padding: 3px;
    font-size: 11px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #7E7E7E;
    position: absolute;
    width: 86px;
}

.thumb-container:hover {
    border: 2px solid rgba(181, 255, 0, 0.2);
    padding: 0px;
}

.thumb-container-selected {
    border: 2px solid rgba(181, 255, 0, 0.7);
    padding: 0;
}

.thumb-container-selected:hover {
    border: 2px solid rgba(181, 255, 0, 0.7);
    padding: 0px;
}

.tiles-container {
    padding-left: 42px;
    padding-right: 42px;
    margin-top: 2px;
}

.tiles-right {
    right: 15px;
}

.tiles-left {
    left: 15px;
}

.tiles-control {
    position: absolute;
    height: 118px;
    width: 25px;
    margin-top: 2px;
    border: 1px solid rgba(40, 40, 40, 0.7);
    background: rgba(0, 0, 0, 0.6);
    padding-top: 45px;
    font-size: 20px;
    color: rgb(26, 26, 26);
    cursor: pointer;
}

.tiles-control:hover {
    border: 1px solid rgba(50, 50, 50, 0.7);
    color: rgb(50, 50, 50);
}

.toggle-search-type {
    margin-left: 8px;
    padding: 5px;
}

/*
    STATS
*/

.search-container {
    position: relative;
}

.search-container input {
    padding-right: 40px !important
}

.search-container .glyphicon-search {
    position: absolute;
    top: 25px;
    right: 15px;
}

.users {
    height: 235px;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user.active {
    border: 2px solid #06d244;
    background: #444444;
}

.user.active > .user-name {
    background: #191919;
    color: white;
}

.user {
    border: 2px solid transparent;
    padding: 10px;
    background: #1f1e1e;
    border-radius: 5px;
    margin-top: 5px;
    color: #cacaca;
    position: relative;
    min-height: 72px;
    cursor: pointer;
}

.user img {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
    box-shadow: 0 2px 4px #101010
}

.user .user-name {
    position: absolute;
    left: 72px;
    top: 9px;
    border: 1px solid #101010;
    height: 52px;
    background: #272727;
    width: calc(100% - 83px);
    padding: 14px 15px;
    border-radius: 4px;
}

.exam-container {
    border-radius: 15px;
    background-color: black;
    border: 5px solid #24a039;
}

.exam-subject {
    font-size: 0.75rem;
    text-transform: uppercase;
}
.exam-variant {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}
.answer-container {
    border-radius: 50px;
    background-color: #111111;
    color: #cecece;
    border: 5px solid #555555;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #636363;
    border-color: #a2a2a2;
}
.answer-container.selected{
    background: #9dd53a;
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    color: #072d0e;
    border-color: white;
}
.answer-container.selected > .answer-id {
    color: #072d0e;
}
.question-info-container {
    background-color: #171717;
}
.question-info {
    color: #fffeb4;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background-color: #263335;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
}
.possible-answers {
    border-top: 1px solid #2d2d2d;
}
.answer-id {
    text-transform: uppercase;
    padding-right: 5px;
    color: #fffeb4;
    letter-spacing: 3px;
}