.webview #layouts {
    overflow-x: hidden;
    overflow-y: scroll;
}
.webview .base-container .header-container {
    position: fixed;
    z-index:999;
    top: 0;
    height: 40px;
}
.results-container .base-container{
    color: #ffffff;
}
.success-label {
    color: #50f750;
}
.error-label {
    color: #ff5959;
}
.warning-label {
    color: yellow;
}
.success-evaluation {
    background-color: #50f750;
}
.error-evaluation {
    background-color: red;
}
.answer-given-value, .correct-answer-value {

}
.gray-label {
    color: #bfbfbf;
    font-size: 0.875rem !important;
}
.webview .gray-label {
    color: #bfbfbf;
    font-size: 1rem !important;
}
.webview .current-student-container {
    padding-top: 55px;
}

.webview .result-table {
    font-size: 1rem;
}
.result-table {
    font-size: 0.75em;
}
.student-results-details {
    padding: 15px;
    background-color: #131313;
}
.variant {
    font-size: 1rem;
}
.score {
    font-size: 1em;
    letter-spacing: 2px;
}
.percentage {
    font-size: 1.5em;
}
.subject-name-container {
    flex-wrap: wrap;
}
.subject-name-text {
    flex: 0 0 100%;
}
.answer-evaluation-container {
    border-radius: 50%;
    background-color: black;
    border: 1px solid #555;
    width: 18px;
    height: 18px;
}
.answer-evaluation {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.table thead th {
    border-bottom: 1px solid #464646;
}

.webview .th-answer {
    width: 110px;
}
.table td, .table th {
    border-top: 1px solid #272727;
    padding: 10px .75rem;

}

.webview .table td, .webview .table th {
    padding: 7px .75rem;
}
.question-index {
    background: #3ba961;
    padding: 1px 7px 1px 7px;
    font-size: 0.75rem;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
}
.percentage-sign {
    font-size: 20px;
}