html, body, #layouts {
    height: 100%;
}

.webview #layouts {
    overflow: hidden;
}
input:focus {
    outline: 0;
}
.modal-content {
    background-color: #292929;
}

.webview .modal-header {
    padding: .5rem .75rem;
    font-size: 0.75em;
}
.modal-header {
    border-bottom: 1px solid black;

}

#submit-answer {
    padding: 1rem;
}

.webview #submit-answer {
    padding: 0.75rem 1rem;
}
.webview #submit-answer {
    padding: .375rem .75rem;
}

.modal-title {
    font-size: 1em;
    text-transform: uppercase;
}

.modal-footer {
    border-top: 1px solid #3a3a3a;
}

.modal-body {
    background-color: #1d1d1d;
    color: #c1c1c1;
}

.webview .question-image {
    max-height: 80px;
}

.question-image {
    max-width: 120px;
}

.alert-container {
    position: absolute;
    width: 100%;
    z-index: 999;
}

/*
    bootstrap overwrite
*/

.btn {
    border-radius: 2px;
    min-width: 100px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
    background-color: #0E7920;
    border-color: #089143;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #008e2d;
    border-color: #08C158;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #00af35;
    border-color: #08C158;
}

.btn-secondary {
    color: #fff;
    background-color: #436175;
    border-color: #517186;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #4f7086;
    border-color: #59788d;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #4f7086;
    border-color: #59788d;
}

.users-container {
    width: 100%;
    flex-wrap: wrap;
}
.start-menu-wrapper {
    flex-wrap: wrap;
    max-width: 500px;
}

.webview .base-container {
    padding-bottom: 0;
    margin-bottom: 0;
}
.base-container {
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #BDBDBD;
    margin-bottom: 15px;
    position: initial;
}

.base-container label {
    font-size: 14px;
    font-weight: normal;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.base-container p {
    padding-left: 15px;
    color: rgb(255, 194, 0);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.base-container .header-container {
    width: 100%;
    display: block;
    background: rgb(63, 63, 63);
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: .5rem .75rem;
    font-size: 0.75em;
    height: 31px;
}

.base-container .text-container {
    padding: 3px;
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 30px;
    height: 27px;
    margin-left: 11px;
    margin-top: -3px;
}

.base-container input[type="text"] {
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    color: #fff;
    padding: .5rem .75rem;
    font-size: 0.75em;
}

.base-container textarea {
    background: rgb(48, 48, 48);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/*
    STATS
*/

.search-container {
    position: relative;
}

.search-container .glyphicon-search {
    position: absolute;
    top: 25px;
    right: 15px;
}

/*.users {*/
    /*height: 235px;*/
    /*padding: 0 10px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*position: relative;*/
/*}*/

.user.active {
    border-color: #06d244;
    background: #444444;
    color: #ffffff;
}

.user.active > .user-name {
    background: #191919;
    color: white;
}

.current-student-container .user{
    margin-top: 0;
}

.user {
    border-radius: 12px;
    margin-top: 5px;
    color: #cacaca;
    position: relative;
    cursor: pointer;
    padding: 5px;
    border: 5px solid #505050;
}

.user img {
    max-width: 44px;
    max-height: 44px;
    min-width: 44px;
    min-height: 44px;
    border-radius: 4px;
    box-shadow: 0 2px 4px #101010
}

.user .user-name {
    border: 1px solid #101010;
    height: 44px;
    background: #272727;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0 15px;
    border-radius: 4px;
    margin-left: 5px;
}

.answer-container {
    border-radius: 8px;
    background-color: #111111;
    color: #cecece;
    border: 3px solid #555555;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.webview .answer-container {
    padding: 3px 10px;
    margin-bottom: 7px;
}

.given-answer {
    flex: 0 0 50%;
    padding: 0 7px;
}
.webview .given-answer {
    padding: 0 3px;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #636363;
    border-color: #a2a2a2;
}
.answer-container.selected{
    background: #9dd53a;
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    color: #072d0e;
    border-color: white;
}
.answer-container.selected > .answer-id {
    color: #072d0e;
}
.question-info-container {
    background-color: #171717;
    padding: 15px 23px;
}

.webview .question-info-container {
    padding: 5px;
}
.webview .question-info {
    padding: 0.5em 12px;
    font-size: 0.875em;
}
.question-info {
    color: #fffeb4;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background-color: #263335;
    padding: 8px 12px;
    border-radius: 5px;
    flex: 1;
}
.question-wrapper {
    flex: 1;
    margin: 0 5px;
}
.answers-container {
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
}

.webview .answers-container{
    padding: 7px 5px 0 5px;
}

.possible-answers {
    border-top: 1px solid #2d2d2d;
}
.webview .answer-id {
    font-size: 0.875em;
}
.answer-id {
    text-transform: uppercase;
    padding-right: 5px;
    color: #fffeb4;
    letter-spacing: 3px;
}
.webview .answer-description {
    font-size: 0.75em;
}

.loader:before {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    border-radius: 50%;
    width: 4em;
    height: 4em;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    margin-left: -2em;
    border-top: 0.5em solid rgba(255, 255, 255, 0.2);
    border-right: 0.5em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
    border-left: 0.5em solid #00f569;
    animation: loading-animation-1 1.2s infinite linear;
}

.loader:after {
    position: absolute;
    z-index: 1;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,1);
}

@keyframes loading-animation-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.webview .users .user {
    /*flex: 0 0 100%;*/
    /*margin-top: 0;*/
    /*height: 86px;*/
    /*width: 350px;*/
    max-width: 500px;
}
.webview .users {
    min-height: 69px;
}

.bottom-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
}

.top-menu {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 12px;
}

.bar-container {
    width: 100px;
    height: 25px;
    border-radius: 50px;
    border: 2px solid #fffefe;
    padding: 3px;
    background: #474747;
    background: -moz-linear-gradient(top, #474747 0%, #000000 50%, #474747 100%);
    background: -webkit-linear-gradient(top, #474747 0%,#000000 50%,#474747 100%);
    background: linear-gradient(to bottom, #474747 0%,#000000 50%,#474747 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#474747',GradientType=0 );
}
.bar-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
}
.progress-bar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f0a3+0,d2e638+50,c3d825+51,dbf043+100;Green+Gloss+%232 */
    background: #e6f0a3; /* Old browsers */
    background: -moz-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */
    height: 100%;
}

.sound-container {
    font-size: 1.1rem;
    padding-left: 3px;
    opacity: 0.5;
    visibility: hidden;
}
.sound-container.active {
    opacity: 1;
}
.current-student-container {
    padding: 15px;
}
.exams-controls {
    position: fixed !important;
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 15px;
    font-size: 0.875rem;
}
.logo-finish {
    max-height: 100px;
    margin-right: 15px;
}
.success-message {
    color: #ffffff;
    margin-bottom: 15px;
}
.ui-container {
    opacity: 1;
}
.ui-container.hidden-by-default {
    opacity: 0;
}