<widget src="scripts/widgets/controlmenu/controlmenu.js"></widget>
<widget src="scripts/widgets/infocontainer/infocontainer.js"></widget>
<widget src="scripts/widgets/editmenu/editmenu.js"></widget>

<div class="container no-select">
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 grid-map-transform white-background">
                        <widget src="scripts/widgets/gridmap/gridmap.js"></widget>
                </div>

            </div>

        </div>

    </div>

</div>
