<link href="assets/css/gameplay.css" rel="stylesheet">
<link href="assets/css/gameplaymap.css" rel="stylesheet">
<link href="assets/css/ui.css" rel="stylesheet">

<div class="container-fluid d-flex align-items-center justify-content-center h-100 loader p-0" id="get-size">
    <div class="grid-map-transform">
        <widget src="scripts/widgets/gameplay/gameplay.js"></widget>
    </div>
</div>
<widget src="scripts/widgets/exam/exam.js"></widget>
<widget src="scripts/widgets/controls/controls.js"></widget>
