<div class="container">
    <div class="row">
        <div class="col-lg-12 white-background">

            <div class="row">

                <div class="col-lg-4" style="position: absolute; right: 0; z-index: 999999;">
                    <widget src="scripts/widgets/infocontainer/infocontainer.js"></widget>
                    <widget src="scripts/widgets/controlmenu/controlmenu.js"></widget>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 grid-map-transform white-background">
                        <widget src="scripts/widgets/gridmap/gridmap.js"></widget>
                </div>

            </div>

        </div>

    </div>

</div>
