<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-12">-->
                <!--<h2>2016</h2>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</nav>-->

<div class="container start-image" id="home-container">
    <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Безопасност на движението<br> по пътищата</h1>
            </div>
            <div class="col-sm-12">
                <widget src="scripts/widgets/startmenu/startmenu.js"></widget>
            </div>
            <div class="col-sm-12 text-center">
                <div class="play-btn"><a href="#game">Играй</a></div>
            </div>


    </div>

</div>











